In [61]:
import pandas as pd

In [62]:
pypoll_file="../Resources/PyPoll_complete.csv"

In [63]:
pypoll_file_df = pd.read_csv(pypoll_file)

In [64]:
count = pypoll_file_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [65]:
all_count_df = pd.DataFrame({
        "Candidate": ["Khan", "Correy", "Li", "O'Tooley"],
        "Votes": [2218231, 704200, 492940, 105630]
})
all_count_df

  Candidate    Votes
0      Khan  2218231
1    Correy   704200
2        Li   492940
3  O'Tooley   105630

In [66]:
all_count_df.head()

  Candidate    Votes
0      Khan  2218231
1    Correy   704200
2        Li   492940
3  O'Tooley   105630

In [67]:
total_votes = all_count_df["Votes"].sum()
total_votes

3521001

In [68]:
total_candidate_count = len(pypoll_file_df["Candidate"].unique())
total_candidate_count

4

In [69]:
type("Votes")

str

In [70]:
type("Candidate")

str

In [71]:
vote_percent = (all_count_df["Votes"]/3521001)*100
all_count_df["Voting Percentage"] = vote_percent

all_count_df.head()

  Candidate    Votes  Voting Percentage
0      Khan  2218231          63.000011
1    Correy   704200          19.999994
2        Li   492940          13.999996
3  O'Tooley   105630           2.999999

In [72]:
winner = all_count_df.loc[all_count_df["Voting Percentage"] == all_count_df["Voting Percentage"].max()]["Candidate"].to_string(index = False) 
winner

' Khan'

In [73]:
print("Election Results")
print("------------------------")
print("Total Votes:" + str(total_votes))
print("------------------------")


for i in range(len(all_count_df)) :
    print(all_count_df.loc[i,"Candidate"] + ":" + str(round(all_count_df.loc[i,"Voting Percentage"],2)) +"%" + "(" + str(all_count_df.loc[i,"Votes"]) + ")")

print("------------------------")
print("Winner:" + str(winner))

Election Results
------------------------
Total Votes:3521001
------------------------
Khan:63.0%(2218231)
Correy:20.0%(704200)
Li:14.0%(492940)
O'Tooley:3.0%(105630)
------------------------
Winner: Khan