In [1]:
import pandas as pd

In [2]:
pypoll_file="../Resources/PyPoll_complete.csv"

In [3]:
pypoll_file_df = pd.read_csv(pypoll_file)
pypoll_file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
pypoll_file_df = pd.read_csv(pypoll_file)
pypoll_file_df.tail()

         Voter ID County Candidate
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

In [ ]:
total = pypoll_file_df["Candidate"].sum()
total